body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Fond léger */
}

header {
    text-align: center;
}

.header-photo {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

.team-title {
    font-size: 2.5em; /* Taille du texte */
    color: #005b96; /* Couleur bleu foncé */
    margin: 20px 0; /* Marges autour du titre */
}

.description {
    margin-bottom: 30px;
}

h2 {
    color: #005b96; /* Couleur des sous-titres */
}

.matches, .joueurs {
    margin-bottom: 30px;
}

.joueur {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.photo-joueur {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f44336; /* Rouge du Grand Est */
    color: white;
}

.footer-text {
    font-size: 12px;
}
